__pycache__/
.pytest_cache/
build/
dist/
_internal/
tmp/
installer-output/*
*.spec.bak
assets/*.icns
assets/*.iconset/

Planning To ICS.exe
Planning to ICS.exe

*.pyc
*.pyo
*.log
*.tmp
*.ics
*.zip
Planning_agent_log.txt

.venv/
venv/
